/* reset default styles */ 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   background-color: rgb(174, 228, 250);
   text-align: center;
}

#main {
   font-family: 'Blinker', sans-serif;
}

/* the toolbox */
#toolbox {
    margin-top: 25vh;
}
#size-checker, #color-picker, #em-converter {
    font-size: 3rem;
    border: 2px solid black;
    border-top: none;
    border-radius: 0 0 10px 10px;
    padding: 20px;
    margin: 0 auto;
    width: 600px;
    min-height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#em-converter h2 {
    margin : 10px;
}
#em-converter {
    font-size: 1.5em;
    line-height: 1.5em;
}

#size-checker, #color-picker {
    display: none;
}
#color-picker {
    font-size: 2em;
}
#size {
    font-size: 4rem;
}
#size-checker p {
    margin-top: 40px;
}
.input {
    display: inline-block;
}
.input input {
    font-size: 1.1em;
    width: 140px;
}

/* buttons */

#button-checker, #button-picker, #button-converter {
    display: inline-block;
    border: 2px solid black;
    border-bottom: 2px dashed black;
    border-radius: 5px 5px 0 0;
    width: 198px;
    font-size: 1.3em;
    padding: 5px 0;
}
#button-converter {
    padding-top: 15px;
}
#button-checker {
background-color: lightgrey;
}
#button-picker {
background-color: lightgrey;
}
#color-button {
    border: 2px solid black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    font-size: 25px;
    width: 220px;
    margin: 20px auto;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

#button-convert {
    width: 130px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 20px auto 0 auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
